@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&display=swap');

@import "tailwindcss"; 

html {
  scroll-behavior: smooth;
}
.michroma {
  font-family: "Michroma", sans-serif;
  font-style: normal;
}
.abel {
  font-family: "Abel", sans-serif;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
  font-family: "abel", sans-serif;
    font-style: normal;
}

 /* scrollbar custom css  */
 /* Customize scrollbar for WebKit (Chrome, Safari, Edge) */
 ::-webkit-scrollbar {
   width: 5px;
 }

 ::-webkit-scrollbar-track {
   background: #3d3c3c29;
 }

 ::-webkit-scrollbar-thumb {
   background-color: #888;
   border-radius: 8px;
 }

 ::-webkit-scrollbar-thumb:hover {
   background: #555;
 }

 .my-scrollbar::-webkit-scrollbar-thumb {
   background-color: #929292;
 }
 .my-scrollbar::-webkit-scrollbar {
   background-color: #b9b4b419;
 }
 .my-scrollbar::-webkit-scrollbar-track {
   background-color: #2727270c;
 }
 .my-scrollbar::-webkit-scrollbar {
   height: 2px;
 }

 input[type="range"]::-webkit-slider-thumb {
   /* background-color: #D4AF37; */
   /* e.g. gold */
 }
 .slider {
   -webkit-appearance: none;
   width: 100%;
   height: 6px;
   background: #ddd;
   border-radius: 3px;
 }

 .slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background-color: #1a1607;
   /* Change thumb color here */
   cursor: pointer;
   border: none;
   margin-top: px;
   /* adjust based on height */
 }

 .slider::-moz-range-thumb {
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background-color: #D4AF37;
   cursor: pointer;
   border: none;
 }

 input[type='range'].slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   height: 2px;
   background: transparent;
   cursor: pointer;
 }

 input[type='range'].slider-thumb::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   height: 18px;
   width: 18px;
   background: black;
   border-radius: 50%;
   border: 2px solid white;
   box-shadow: 0 0 0 1px gray;
   margin-top: -8px;
   /* aligns thumb vertically */
 }

 input[type='range'].slider-thumb::-moz-range-thumb {
   height: 18px;
   width: 18px;
   background: black;
   border-radius: 50%;
   border: 2px solid white;
   box-shadow: 0 0 0 1px gray;
 }